* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth; 
}

body {
  font-family: 'Roboto', 'sans-serif';
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heading {
  display: flex;
  align-items: center;
  height: 8vh;
  background-color: rgb(209, 81, 81);
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.img {
  margin: 20px auto;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-item {
  margin: 0 40px;
}

.nav-link {
  text-decoration: none;
  color: #000;
  padding: 0 10px;
}